/* Definiendo el alias para las fuentes utilizando clases */
.light {
  font-family: "Roboto Mono", serif;
  font-weight: 100; /* Roboto Mono Light */
}

.medium {
  font-family: "Roboto Mono", serif;
  font-weight: 400; /* Roboto Mono Medium */
}

.bold {
  font-family: "Roboto Mono", serif;
  font-weight: 700; /* Roboto Mono Bold */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", serif;
  font-size: 16px;
  background-color: bisque;
}
